.congratulation-container {
  padding: 20px 20px;
}
@media only screen and (min-width: 1300px) {
  .congratulation-container {
    padding: 40px 40px;
  }
}
@media only screen and (min-width: 1900px) {
  .congratulation-container {
    padding: 100px 300px;
  }
}
